body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--font);
    background-image: linear-gradient(to right top, #021025, #001743, #001961, #00177c, #180394);
    background-repeat: no-repeat;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

::-webkit-scrollbar {
    background-color: var(--bgGray);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bgGray2);
    width: 6px;
    border-radius: 4px;
}

.container {
    max-width: 1300px;
    margin: 60px auto 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.subtitle {
    font-size: 8rem;
    line-height: 1;
    max-width: 4ch;
    text-transform: uppercase;
    word-break: break-all;
}

@media (max-width: 1330px) {
    .container {
        padding: 0 15px;
    }
}

@media (max-width: 800px) {
    .subtitle {
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial;
    }
}